<h4><p id="notice"><%= notice %></p></h4>
<h1>Mostrando Estado</h1>
<p>
  <h1>
  <strong>Year:</strong>
  <%= @period.year %>
</p>

</h1>
</p>

<%= link_to edit_period_path(@period), :class => 'btn btn-success' do %>
  <font color="White">    Editar </font>
<% end %>

|

<%= link_to periods_path, :class => 'btn btn-primary' do %>
  <font color="White">    Regresar </font>
<% end %>
