<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sickness_general.name %>
</p>

<%= link_to 'Edit', edit_sickness_general_path(@sickness_general) %> |
<%= link_to 'Back', sickness_generals_path %>
