<h4><p id="notice"><%= notice %></p></h4>
<h1>Mostrando Enfermedades Especificas</h1>
<p>
  <h1>
  <strong>Name:</strong>
  <%= @sickness_specific.name %>
</p>
</h1>
</p>

<%= link_to edit_sickness_specific_path(@sickness_specific), :class => 'btn btn-success' do %>
  <font color="White">    Editar </font>
<% end %>

|

<%= link_to sickness_specifics_path, :class => 'btn btn-primary' do %>
  <font color="White">    Regresar </font>
<% end %>
